{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projeto de vida</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="opa">
        <h1>PROJETO DE VIDA</h1>
    </div>
    <hr>
    <div class="body">
        <div class= "lista">
            <h2>Escola: Flaudismar Alves de Sousa</h2>
            <h2>Ano: 2º</h2>
            <h2>Turma: 201</h2>
            <h2>Componente Curricular: Projeto de Vida</h2>
            <h2>Professora: Daniela</h2>
            <h2 class="opaaa">Participantes:</h2>
            <div class="lista3">
                <li>Gean Feitosa Cavalcante </li>
                <hr>
                <li>Luiz Mário Pereira Costa </li>
                <hr>
                <li>Lívia Lima da Costa</li>
                <hr>
                <li>Yarlem Soares Guimarães</li>
                <hr>
                <li>Andreele Lima da Silva</li>
                <hr>
            </div>
            <hr>
            <div class="titulo">
                <h2 class="texto6">Desenvolvimento Web</h2>
                <div class="texto9">
                    <p class="texto"> Desenvolvimento web é o termo utilizado para descrever o desenvolvimento de sites,
                     na Internet ou numa intranet. <br> O profissional que trabalha desenvolvendo websites pode ser um web designer ou um web developer, o Progamador atua nessa área, com o desevolvimento de códigos e scripts tanto para o funcionamento
                     do servidor, no caso o <b>Back-end</b>, como na interação do usuario com o site que no caso é o <b>Front-end</b> que veremos. <br>
                     iremos abordar as áreas de atuação de um desenvolvedor web, as linguagens de progamação mais utilizadas e as principais ferramentas utilizadas pelos desenvolvedores <b>Back-end</b> e <b>front-end</b> e <b>full-stack</b>, que iremos explicar.
                    </p>
                </div>
                <div class="html1">
                    <h2 class="titulo18">Front-End</h2>
                    <hr>
                    <img class="img1" src="{%static 'img/css.png'%}" alt="">
                    <img class="img" src="{%static 'img/html1.png'%}" alt="">
                    <img class= "img3" src="{%static 'img/javascript.png'%}" alt="">
                    <p class="texto">
                        Desenvolvimento web front-end é o desenvolvimento da interface gráfica do usuário de um site, através do uso de  <b>HTML</b>,<b> CSS</b> e<b> JavaScript</b>, para que os usuários possam visualizar e interagir com esse site.
                        O Front-End é área que está ligada com a interação do usuario com a aplicação, site, ou aplicativo é a parte visual, no qual o usuario do aplicativo pode ter acesso as diversas funcionalidades e funções do sistema.<br> <b>Exemplos: Um botão, faz parte da interação do usuario com o sistema, o designer,paginas.</b>
                    </p>
                    <img class="front" src="{%static 'img/Front.png'%}" alt="">

                    <h2 class="titulo15">HTML</h2>
                    <p class="texto">
                        HTML é uma linguagem de marcação utilizada na construção de páginas na Web. Documentos HTML podem ser interpretados por navegadores. A tecnologia é fruto da junção entre os padrões HyTime e SGML. HyTime é um padrão para a representação estruturada de hipermídia e conteúdo baseado em tempo, sendo utilizado pelos desenvolvedores <b>Front-end</b>, para colocar textos, no site ou aplicativo, é a parte visual do aplicativo.
                    <p>
                    <img class="html3" src="{%static 'img/Capturar.png'%}" alt="">
                    <div class="body3">
                        <h2 class="titulo24">Exemplo:</h2>
                        <div class="body6">
                            <h2 class="eae">Sem HTML</h2> 
                            <h2 class="eaeee">Com HTML</h2>
                        </div>
                        <div class="img6">
                            <img class="html33" src="{%static 'img/html.png'%}" alt="">
                            <img class="html33" src="{%static 'img/Capturarar.png'%}" alt="">
                        </div>
                    <h2 class="titulo21">CSS</h2>
                    <p class="texto">Cascading Style Sheets é um mecanismo para adicionar estilos a uma página web, aplicado diretamente nas tags HTML ou ficar contido dentro das tags <b>style</b>. Também é possível, adicionar estilos adicionando um link para um arquivo CSS que contém os estilos. O CSS adicoona cores, estilos, fontes ao site, ele é responsável pela parte visual e gráfica do site, que só pode ser feito em CSS, sendo o CSS um dos pilares 3 pilares principais do <b>Front-end</b>.
                    </p>
                    <img class="html3" src="{%static 'img/csss.png'%}" alt="">
                    <div class="body3">
                        <h2 class="titulo24">Exemplo:</h2>
                        <div class="body6">
                            <h2 class="eae">Sem CSS</h2>
                            <h2 class="eaeee">Com Css</h2>
                        </div>
                        <div class="img6">
                            <img class="html33" src="{%static 'img/Captura.PNG'%}" alt="">
                            <img class="html33" src="{%static 'img/aaa.png'%}" alt="">
                        </div>
                    </div>
                    <h2 class="titulo27">JavaScript</h2>
                    <p class="texto">
                        JavaScript é uma linguagem de programação interpretada estruturada, de script em alto nível com tipagem dinâmica fraca e multiparadigma. Juntamente com HTML e CSS, o JavaScript é uma das três principais tecnologias da World Wide Web. O JavaScripit é um lingugagem de progamação, não de marcação e estilo como HTML e css, oque diferencia é que uma linguagem de progamção utiliza códigos para o desenvolvimento de funções e o computador traduz com linguagem binaria que são os bits.(010100101).
                    </p>
                    <img class="html36" src="{%static 'img/javas.png'%}" alt="">
                </div> 
                <div class="html38">
                    <h2 class="titulo18">Back-end</h2>
                    <hr>
                    <img class="img1" src="{%static 'img/php.png'%}" alt="">
                    <img class="img" src="{%static 'img/python.png'%}" alt="">
                    <img class="img3" src="{%static 'img/java.png'%}" alt="">
                    <p class="texto">
                        Em uma abordagem mais técnica, o <b>back-end</b> envolve servidor, banco de dados e aplicação. Desta forma, o desenvolvedor na área é responsável por construir e manter esses componentes juntos para que as informações sejam organizadas e armazenadas corretamente, o que permite que uma página funcione bem, de maneira segura e se mantenha no ar para os usuários acessarem.
                        Por exemplo, quando você acessa um site na web, o servidor dessa determinada página envia todas as informações necessárias para que ela se torne visível e você consiga acessá-la. Mas não é só isso, o <b>back-end</b> também é responsável por armazenar dados e garantir a segurança do site como um <br> Tudo isso é construído a partir de linguagens específicas de <b>back-end </b>, utilizadas para desenvolver a parte interna de um site.
                    </p>
                    <img class="front1" src="{%static 'img/fronback.png'%}" alt="">
                    <h2 class="titulo30">Python</h2>
                    <p class="texto">
                        Python é uma linguagem de programação de alto nível, interpretada de script, imperativa, orientada a objetos, funcional, de tipagem dinâmica e forte. Foi lançada por Guido van Rossum em 1991, python por ser muitos fácil de se usar, é uma das escolhas para pessoas que desejam começar e entrar no mundo da progamação, muito utulizado para o desenvolvimento <b>back-end</b>.
                    </p>
                    <h2 class="titulo33">PHP</h2>
                    <p class="texto">
                        PHP é uma linguagem interpretada livre, usada originalmente apenas para o desenvolvimento de aplicações presentes e atuantes no lado do servidor, capazes de gerar conteúdo dinâmico na World Wide Web.
                        PHP é uma linguagem de script do tipo server-side com diversos propósitos. Porém, ela é principalmente utilizada para gerar conteúdos dinâmicos num site. Trata-se de uma linguagem altamente popular devido à sua natureza de código aberto e suas funcionalidades versáteis.
                    </p>
                    <h2 class="titulo36">Java</h2>
                    <p class="texto">
                        Java é uma linguagem de programação orientada a objetos desenvolvida na década de 90 por uma equipe de programadores chefiada por James Gosling, na empresa Sun Microsystems, que em 2008 foi adquirido pela empresa Oracle Corporation.
                        Java é uma linguagem multiplataforma, orientada a objetos e centrada em rede que pode ser usada como uma plataforma em si. É uma linguagem de programação rápida, segura e confiável para codificar tudo, desde aplicações móveis e software empresarial até aplicações de big data e tecnologias do servidor.
                    </p>
                </div>
            </div>
        </div>
    <div>
</body>
</html>